* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #cec083;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.score {
  padding: 10px;
  width: 300px;
  background-color: yellow;
  position: absolute;
  left: 400px;
  top: 350px;
  color: black;
  border-radius: 20px;
  text-align: center;

}

.timer{
  
  font-size: 30px;
}

#game-board {
  --cell-size: 100px;
  --cell-gap: 10px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, var(--cell-size));
  grid-template-rows: repeat(4, var(--cell-size));
  gap: var(--cell-gap);
  border-radius: 10px;
}

.cell {
  background-color: #6b482d;
  border-radius: 10px;
}

.tile {
  --y: 0;
  --x: 0;
  position: absolute;
  top: calc(var(--y) * (100px + 10px));
  left: calc(var(--x) * (100px + 10px));
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  font-size: 60px;
  background-color: white;
  color: black;
  transition: 100ms;
  animation: show 200ms;
}
